.radio-toolbar input[type="radio"] {
  opacity: 0;
  width: 0;
  height: 0;
}

.radio-toolbar input[type="radio"]:active ~ label {
  opacity: 1;
  line-height: 30px;
  margin: 2px;
  border: 2px solid black;
}

.radio-toolbar input[type="radio"]:checked ~ label {
  opacity: 1;
}

.radio-toolbar label {
    opacity: 1;
    line-height: 40px;
    text-align: center;
    padding-top: 1px;
    padding-right: 13px;
    padding-bottom: 1px;
    padding-left: 5px;
    display: inline-block;
    margin: 2px;
    border: 2px solid black;
}

.radio-toolbar input[type="radio"]:checked+label {
  background-color: rgba(22, 87, 136, 0.76);
  border: 2px solid black;
}
