{% block query %}

SELECT

  id AS __id__,

  {% filter geometry %}geom{% endfilter %} AS __geometry__,
  NULL::bytea AS __label__,

  jsonb_build_object(
      'geo_id', centreline_id,
      'min_zoom', min_zoom,
      'oneway_dir_code', oneway_dir_code,
      'dir_bin', dir_bin,
      'functional_type', feature_code_desc,
      'name', linear_name_full,
      'name_id', linear_name_id,
      'volume', volume,
      'year', year,
      'direction', direction
  ) AS __roads_properties__

FROM
  ryu4.centreline_ksp

WHERE

  {{ bounds['line']|bbox_filter('geom', 3857) }}
  AND min_zoom <= {{ zoom }}

{% endblock %}
